body {
    background-color: red;
    color: ghostwhite;
}
h1 {
    text-align: center;
    color: ghostwhite;
}
form {
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px ghostwhite;
    max-width: 600px;
    margin: auto;
}
fieldset {
    background-color: orangered;
}